div.top-banner {
	color: #eee;
	background: url('img/bg.jpg') repeat-x #0c0d10;
	font: 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

div.slideshow {
	position: absolute;
	overflow: hidden;
	width: 915px;
	height: 250px;
}
figure {
	position: relative;
	opacity: 0;
	transition: 1s opacity;
	margin: 2px 2px 2px 2px;
}
figcaption {
	position: absolute ;
	font-family: sans-serif;
	font-size: .8em;
	bottom: .75em;
	left: .35em;
	color: #fff;
	background: rgba(0,0,0, .25);
	border-radius: 2px;
}
figcaption a {
	color: #fff;
}
figure.show {
	opacity: 1;
	position: absolute;
	transition: 1s opacity;
	width: 915px;
	height: 250px;
	margin: 2px 2px 2px 2px;
}
.next, .prev {
	color: #fff;
	position: absolute;
	background: rgba(0,0,0, .6);
	top: 50%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: .3;
	user-select: none;
}
.next:hover, .prev:hover {
	cursor: pointer;
	opacity: 1;
}
.next {
	right: 10px;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.prev {
	left: 10px;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
